@model ChatUserViewModel
<div class="text-center ">
    <div class="text-danger" asp-validation-summary="All">
        @if (TempData["Errors"] != null)
        {
            <span> @TempData["Errors"];</span>
        }
      
    </div>

    <div class="container conteiner__Chat pt-5">
        <div class="row">
            <div class="col col_user">
                <div class="col">
                    <div class="user_outChat">
                        Все пользователи
                        <ul class="list-group list-group-flush">
                            @foreach (var user in Model.UsersNotInclude)
                            {
                                <li class=" list-group-item item__user">
                                    @user.Name
                                    <form asp-action="AddUserInChat" method="post">
                                        <input type="hidden" name="UserId" value="@user.Id" />
                                        <input type="hidden" name="ChatId" value="@Model.ChatId" />
                                        <button type="submit" class="btn btn-outline-primary btn__user">Добавить в чат </button>
                                    </form>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="user_withChat">
                        Пользователи в чате
                        <ul class="list-group list-group-flush">
                            @foreach (var user in Model.ChatUsers)
                            {
                                <li class=" list-group-item item__user">
                                    @user.Name
                                    <form asp-action="DeleteUserInChat" method="post">
                                        <input type="hidden" name="UserId" value="@user.Id" />
                                        <input type="hidden" name="ChatId" value="@Model.ChatId" />
                                        <button type="submit" class="btn btn-outline-danger btn__user">Удалить из чата </button>
                                    </form>
                                </li>
                            }
                            @if (Model.ChatBots != null)
                             {
                                foreach (var Name in Model.ChatBots)
                                {
                                    <li class=" list-group-item item__user">
                                        @Name
                                        <form asp-action="DeleteBot" method="post">
                                            <input type="hidden" name="ChatId" value="@Model.ChatId" />
                                            <input type="hidden" name="NameBot" value="@Name" />
                                            <button type="submit" class="btn btn-outline-danger btn__user">Удалить из чата </button>
                                        </form>
                                    </li>
                                }
                             }
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col col__Chat">
                <div class="container container_mes">

                    @foreach (var mes in Model.HistoryChat)
                    {
                        <div class="@(mes.User!=null && mes.User.Equals(Model.CurrentUser) ? "you_mes" :"notyou_mes") container_item ">
                            <div class="item_mes">
                                <form style="text-align:end;" asp-action="DeleteMessage" asp-controller="Chat" method="post">
                                    <input type="hidden" name="chatId" value="@Model.ChatId" />
                                    <input type="hidden" name="messageId" value="@mes.MessageId" />
                                    <button type="submit" class="btn__close">Х</button>
                                </form>
                                <span class="name_user">
                                    @mes.User.Name;
                                    
                                </span>
                                <p class="content__mes">
                                    @mes.Content
                                </p>
                                <span class="date_mes">  @mes.dateTime.ToString("HH:mm")</span>
                            </div>
                            
                        </div>
                    }
                </div>
                <form asp-action="AddMessageInChat" asp-controller="Chat" method="post">
                    <input type="text" name="content" placeholder="Введите сообщение" class="input-group-text w-100" />
                    <input type="hidden" name="chatId" value="@Model.ChatId" />
                    <button type="submit" class="btn btn-primary  mt-4">Отправить</button>
                </form>
                <form asp-action="AddBotInChat" asp-controller="Chat">
                    <input type="hidden" name="chatId" value="@Model.ChatId" />
                    <select class="form-control mt-3" id="NameBot" name="NameBot">

                        <option>Доступные боты</option>
                        @foreach (var bot in Model.AvailableBots)
                        {
                            <option>@bot</option>

                        }
                    </select>
                    <button type="submit" class="btn btn-primary  mt-4">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>